body{
	background:#fff;
}

@font-face {
    font-family: 'runmedium';
    src: url(../font/run-webfont.woff2) format('woff2'),
         url(../run-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;

}

#header{
	width:100%;
	min-height:700px;
	background: url(../img/header-section-bg.jpg) center #608a94;
	background-size: cover;
	margin-bottom: 2%;
	padding-bottom: 10%;

}

#header2{
	width:100%;
	min-height:700px;
	background:url(../img/base-bg.png) no-repeat; #608a94;
	background-size: cover;
	margin-bottom: 2%;
	padding-bottom: 10%;

}

#head{
	width: 100%;
	height: 100px;
	background:#2f82b2;
	padding-top: 2%;
	font-family: 'runmedium';


}

.logo{
	    font-family: 'runmedium';
	    font-size: 30px;
	    color:white;
}

.right-h{
	font-size: 18px;
	color:white;
		padding-top:2%;
}

.sign-uph{
	border:3px solid #fff;
	border-radius: 30px;
	padding: 3%;


}

#nav{
	font-size: 17px;
}

#head-content{
	width: 100%;
	height: auto;
	padding-top:5%;
	font-family: 'runmedium';
}


.cal-div{
	width: 100%;
	height: 400px;
	background:white;
	border-radius: 40px;
	-webkit-box-shadow: #2c6586 0px 0px 20px;
	box-shadow: #2c6586 0px 0px 20px;
	padding:2%;
	font-family: arial;
	color:#222;
}.cal-div p{
	font-size: 16px;
}

.cal-div input{
	width: 100%;
	padding: 2.5%;
	background: #d8d7d7;
	border:none;
	border-radius: 40px;
	font-size: 20px;
	font-family: 'Raleway', arial;
}

.cal-div select{
	width: 30%;
	padding: 3.5%;
	background: #d8d7d7;
	border:none;
	border-radius: 40px;
	font-size: 20px;
	position: absolute;
	left: 230px;
	font-family: 'Raleway', arial;
}

.cal-div label{
	font-family: arial;
	font-family: 17px;

}

.cal-div input[type=submit]{
	width: 40%;
	padding:2%;
	background: #3081b1;
	border-radius: 30px;
	color:#fff;
	font-family: 'runmedium';
	font-size: 20px;
	margin-top: 5%;
	margin-right: 7%;
}

.line-box{
	width: 127%;
	min-height: 780px;
	border:2px solid #fff;
	border-radius: 0px 180px 180px 0px;
	position: absolute;
	left: -200px;
	top: -10px;
}

#left-div{
	font-family: 'runmedium';
	font-size: 18px;
	color:#000000;
	padding:2%;
	position: relative;
	width: 100%;
	z-index: 1;
}
#left-div h2{
	font-size: 4em;
}

#left-div p{
	font-size: 18px;
}


#icon-base{
	width: 100%;
	height: 200px;
	background: white;
	font-family: 'runmedium';
}

#icon-base p{
	font-size: 18px;
}

#icon-base h2{
font-family: 'runmedium';
font-size: 45px;
color:#000;
margin-top: 8%;
}

.icon-span{
	float: left;
	padding: 5%;
	padding-right:6%;
	font-family: 'runmedium';
	font-size: 23px;
	color:#000000;
}

.icon-span:nth-child(3){
	padding-right:0%;
}

.clear-fix{
	clear: both;
}

#down-base{
	width: 100%;
	height: auto;
	padding-bottom: 15%;
	background: url(../img/base-bg.png) no-repeat;
	background-size: cover;
	margin-top: 15%;
	font-family: 'runmedium';
}

#down-base h2{ 
font-family: 'runmedium';
font-size: 55px;
color:#000;
margin-top: 8%;
	}
#down-base p{
	font-size: 20px;
	margin-top: 5%;
}

.sign-in-base{
	width: 100px;
	height: auto;
	padding: 1%;
	background: #121212;
	font-family: 'runmedium';
	color:white;
	border:none;
	border-radius: 20px;
	font-size: 20px;

}

.sign-up-base{
	width: 200px;
	height: auto;
	padding: 1%;
	background: #177ab2;
	font-family: 'runmedium';
	color:white;
	border:none;
	border-radius: 20px;
	font-size: 20px;
	margin-left: 2%;

}

#footer{
	width: 100%;
	min-height: 200px;
	background: #121212;
}

#footer ul li{
	font-family: 'runmedium';
	color:white;
	font-size: 16px;

	list-style: none;
}

#login-div{

}

#login-div p{
	font-family: 'runmedium';
	color:#333;
	font-size: 16px;
}

#login-div input[type="text"]{
	width: 100%;
	height: auto;
	font-family: arial;
	font-size: 15px;
	background-color: #eee;
	padding: 4.5%;
	border:none;
	border-radius: 15px;
}

#login-div input[type="password"]{
	width: 100%;
	height: auto;
	font-family: arial;
	font-size: 15px;
	background-color: #eee;
	padding: 4.5%;
	border:none;
	border-radius: 15px;
}

#login-div select{
	width: 100%;
	height: auto;
	color:white;
	background: #2f82b2;
}

#signup-div{

}

#signup-div p{
	font-family: 'runmedium';
	color:#333;
	font-size: 16px;
}

#signup-div input[type="text"]{
	width: 100%;
	height: auto;
	font-family: arial;
	font-size: 15px;
	background-color: #eee;
	padding: 4.5%;
	border:none;
	border-radius: 15px;
}

#signup-div input[type="password"]{
	width: 100%;
	height: auto;
	font-family: arial;
	font-size: 15px;
	background-color: #eee;
	padding: 4.5%;
	border:none;
	border-radius: 15px;
}

#signup-div select{

	width: 100%;
	height: auto;
	color:white;
	background: #2f82b2;
	border:none;
	border-radius: 15px;
	padding: 4.5%;
	color:white;
}

#icon-dashedboard{
	width: 100%;
	height: auto;
		font-family: 'runmedium';
	color:#222;
	font-size: 20px;
	padding-bottom: 2%;
}

.mgs{
	width: 100%;
	min-height: 692px;
	border-radius: 40px;
	background-color: #2f82b2;
	padding: 4%;
}

.mgs ol li{
	font-family: arial;
	color:white;
	font-size: 20px;
	margin-top: 12%;


}

.mgs ul li{
	font-family: arial;
	color:white;
	font-size: 16px;
	margin-top:8%;
	list-style: none;

}

.c-box{
	font-family: arial;
}

.c-box img{
float:left;
	padding-right:6%;
	padding-bottom: 10%;
}

.c-box h3{

	font-size: 20px;
	color:#222;
	    margin-top: 8%;
    float: left;
    font-weight: bold
}

.c-box p{
	float: left;
	font-size: 14px;
}

.rev-form label{
font-family: 'runmedium';
width: 20%;
font-size: 18px;
}

.rev-form input[type="text"]{
	width: 65%;
	padding: 1.5%;
	background: #f0f0f0;
	border:none;
	border-radius: 40px;
	font-size: 20px;
	font-family: 'Raleway', arial;
	border:1px solid #ddd;
}

.rev-form select{
	width: 65%;
	padding: 1.5%;
	background: #2f82b2;
	border:none;
	border-radius: 40px;
	font-size: 20px;
	font-family: 'Raleway', arial;
	border:1px solid #ddd;
}

.rev-form input[type=submit]{
	width: 30%;
	padding:2%;
	background: #121212;
	border-radius: 30px;
	color:#2f82b2;
	font-family: 'runmedium';
	font-size: 20px;
	margin-top: 5%;
	margin-right: 7%;
}

.search-box{
	width: 100%;
	height:auto;
	padding:3%;
	border-radius: 10px;
	border:1px solid #eee;
	margin-bottom: 3%;
}

.search-box input[type="text"]{
	padding:1%;
	border:1px solid #eee;
	font-family: arial;
	width: 25%;
}

.search-box input[type=submit]{
	width: 20%;
	padding:1%;
	background: #ff7405;
	border-radius: 30px;
	color:#fff;
	font-family: 'runmedium';
	font-size: 15px;
	margin-right: 7%;
}

.arrange-text{
	width: 40%; text-align: right; float:left
	}

.ben-arrange{
	float:left; margin-top: 3%;  width: 35%; text-align:right; padding-right: 3%;
}

legend{
    display: inline;
}



#payment-select{
	border:1px solid #eee;
	width: 100%;
	border-radius:15px;
	padding: 15px;
	height: auto;
}

#payment-select h4{
	font-family:arial;
	font
}

